doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;1,100;1,300;1,400&display=swap" rel="stylesheet")
  body
    header
      a(href="/")
        h1= "Missive"
      nav         
        if(currentUser)
          div.user-info
            if(currentUser.administrator)
              a(href="/admin/panel")
                img.admin-icon(src="/images/admin.png", alt="")
            p.logged-in Logged in as #{currentUser.username}

          div
            if(currentUser.administrator)
            else 
              a.admin-button(href="/admin")
                button Become Admin
            a(href="/auth/logout")
              button Log out
        else
          a(href="/auth/register")
            button Register
          a(href="/auth/login")
            button Log in
    if(currentUser)
    else
      div.login-info Log in or create an account to view detailed post information or post a message


    block content
