extends layout 

block content 
  div.form-container
    form(method="POST" action="/post")
      textarea( cols="30", rows="10" type="text" placeholder="Create a post" name="post") 
      button(type="submit") Submit Post
