extends layout 

block content 


  div.form-container
    div.title
      p Register
    form#sign-up(method="POST" action="/auth/register")
      label(for="sign-up__username") Username:
      input#sign-up__username(type="text" placeholder="Username" name="username" required)
      label(for="sign-up__password") Password:
      input#sign-up__password(type="password" placeholder="Password" name="password" required)
      label(for="sign-up__confirm") Confirm Password:
      input#sign-up__confirm(type="password" placeholder="Password" name="confirm" required)

      button(type="submit") Join now
      if(error)
        p.register-error #{error}

