extends layout 

block content 

  div 
    form#sign-up(method="POST" action="/auth/sign-up")
      label(for="sign-up__username") Username:
      input#sign-up__username(type="text" placeholder="Username" name="username")
      label(for="sign-up__password") Password:
      input#sign-up__password(type="password" placeholder="Password" name="password")
      label(for="sign-up__confirm") Confirm Password:
      input#sign-up__confirm(type="password" placeholder="Password" name="confirm")

      button(type="submit") Sign up