* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../images/bg.png");
}

button {
  background-color: #008897;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #059eaf;
}

header {
  width: 100vw;
  background-color: #2f4858;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px;
}

header nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 15px;
  top: 13px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  justify-self: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header nav p {
  margin-right: 5px;
}

header nav .admin-button {
  margin-right: 10px;
}

header nav .user-info {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .user-info a {
  background-color: none;
  position: absolute;
  background-color: transparent;
  right: 80px;
  top: 35px;
}

header nav .user-info a .admin-icon {
  width: 20px;
  height: 20px;
}

header nav .user-info a:hover {
  background-color: transparent;
  cursor: pointer;
}

header nav button {
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  background-color: #008897;
  color: white;
}

header nav button:hover {
  cursor: pointer;
  background-color: #059eaf;
}

header a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.login-info {
  margin-top: -20px;
  padding-bottom: 5px;
  font-size: 1.2rem;
  background-color: #2f4858;
  color: white;
  text-align: center;
}

.posts {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.posts button {
  padding: 20px 50px;
  background-color: #008897;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
}

.posts button:hover {
  cursor: pointer;
  background-color: #059eaf;
}

.posts__post {
  width: 500px;
  background-color: #2f4858;
  border-bottom: #00c982 solid 5px;
  padding: 30px;
  border-radius: 25px 5px 25px 5px;
  color: white;
}

.posts__post__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.posts__post__head__user {
  font-size: 1.2rem;
}

.posts__post__head__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  font-size: 0.8rem;
}

.posts__post__body {
  margin-top: 10px;
}

.form-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
}

.form-container .title {
  font-size: 1.2rem;
}

.form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 250px;
  background-color: #2f4858;
  color: white;
  padding: 20px;
  border-radius: 5px;
}

.form-container form p {
  margin-bottom: 10px;
  text-align: center;
}

.form-container form textarea {
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  resize: none;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}

.form-container form input {
  margin-bottom: 15px;
  padding: 5px;
  border: none;
  margin-top: 2px;
  border-radius: 2px;
}

.form-container form .register-error {
  color: red;
  margin-top: 10px;
  font-size: 0.8rem;
  text-align: center;
}

.page404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 18px;
}

.no-posts {
  width: 100vw;
  text-align: center;
  margin-top: 20px;
}

.admin-container {
  width: 100vw;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin-container__settings {
  padding: 20px 25px;
  background-color: #2f4858;
  width: 300px;
  text-align: center;
  border-radius: 5px;
}

.admin-container__settings button {
  margin-top: 10px;
}

.admin-container .users-list {
  margin-top: 20px;
  padding: 20px 25px;
  background-color: #2f4858;
  border-radius: 5px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.admin-container .users-list h2 {
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */