$primary-colour: #2f4858;
$cta: #008897;
$hover-colour: #059eaf;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-image: url("../images/bg.png");
}

button {
  background-color: $cta;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: $hover-colour;
}

header {
  width: 100vw;
  background-color: $primary-colour;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;

  nav {
    position: absolute;
    display: flex;
    right: 15px;
    top: 13px;
    column-gap: 20px;
    justify-self: flex-end;
    flex-direction: column;
    align-items: flex-end;

    p {
      margin-right: 5px;
    }

    .admin-button {
      margin-right: 10px;
    }

    .user-info {
      margin-top: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        background-color: none;
        position: absolute;
        background-color: transparent;
        right: 80px;
        top: 35px;
        .admin-icon {
          width: 20px;
          height: 20px;
        }
      }

      a:hover {
        background-color: transparent;
        cursor: pointer;
      }
    }

    button {
      border: none;
      padding: 5px 10px;
      border-radius: 3px;
      background-color: $cta;
      color: white;
    }

    button:hover {
      cursor: pointer;
      background-color: $hover-colour;
    }
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
  }
}

.login-info {
  margin-top: -20px;
  padding-bottom: 5px;
  font-size: 1.2rem;
  background-color: $primary-colour;
  color: white;
  text-align: center;
}

.posts {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;

  button {
    padding: 20px 50px;
    background-color: $cta;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
  }

  button:hover {
    cursor: pointer;
    background-color: $hover-colour;
  }

  &__post {
    width: 500px;
    background-color: $primary-colour;
    border-bottom: #00c982 solid 5px;
    padding: 30px;
    border-radius: 25px 5px 25px 5px;
    color: white;
    &__head {
      display: flex;
      justify-content: space-between;

      &__user {
        font-size: 1.2rem;
      }

      &__date {
        display: flex;
        column-gap: 10px;
        font-size: 0.8rem;
      }
    }

    &__body {
      margin-top: 10px;
    }
  }
}

.form-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  flex-direction: column;
  row-gap: 20px;

  .title {
    font-size: 1.2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    background-color: $primary-colour;
    color: white;
    padding: 20px;
    border-radius: 5px;

    p {
      margin-bottom: 10px;
      text-align: center;
    }

    textarea {
      margin-bottom: 15px;
      border-radius: 5px;
      border: none;
      resize: none;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent;
    }

    input {
      margin-bottom: 15px;
      padding: 5px;
      border: none;
      margin-top: 2px;
      border-radius: 2px;
    }

    .register-error {
      color: red;
      margin-top: 10px;
      font-size: 0.8rem;
      text-align: center;
    }
  }
}

.page404 {
  display: flex;
  width: 100vw;
  height: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 18px;
}
.no-posts {
  width: 100vw;
  text-align: center;
  margin-top: 20px;
}

.admin-container {
  width: 100vw;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  &__settings {
    padding: 20px 25px;
    background-color: $primary-colour;
    width: 300px;
    text-align: center;
    border-radius: 5px;

    button {
      margin-top: 10px;
    }
  }

  .users-list {
    margin-top: 20px;
    padding: 20px 25px;
    background-color: $primary-colour;
    border-radius: 5px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h2 {
      margin-bottom: 10px;
    }
  }
}
